<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/rubic.css">
</head>

<body class="body">
   <%- include('../includes/navigation.ejs') %>
        <header class="header d-flex justify-content-left">
            <h3 class="header-title2"><strong class="text-primary">Error </strong><span>404</span></h3>     
        </header>
</body>
<%- include('../includes/tail.ejs') %>